.navigation {
  background-color: rgb(206, 196, 90);
}

.nav-link {
  color: white;
  font-family: Poetsen One;
}

.search {
  margin-left: auto;
}

body {
  background-color: #324e59;
}

table,
.reference {
  background-color: #324e59;
  color: #0bbf7d;
  margin: auto;
}

.more {
  margin-right: 25px;
}
