
body{
	background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdXB3azYxODk3OTY4LXdpa2ltZWRpYS1pbWFnZS1qb2I1NzItMS5qcGc.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.description{
	border: dashed;
	border-color: white;
	border-radius: 30px;
	background-color: #416380FF;
	width: 800px;
	padding: 15px;
	margin: auto;

	font-family: varela round;
	font-size: 15px;
}

.heading{
	border: dashed;
	border-color: white;
	border-radius: 30px;
	background-color: #416380FF;
	width: 500px;
	padding: 5px;
	margin: auto;

	font-family: oswald;
	font-size: 50px;

}

.carousel {
	width: 1000px;
	margin: auto;
}

.highlight{
	border: dashed;
	border-color: white;
	border-radius: 30px;
	background-color: #416380FF;
	width: 500px;
	padding: 5px;
	margin: auto;	

	font-family: oswald;
	font-size: 40px;
}

h4{
	border: dashed;
	border-color: white;
	border-radius: 30px;
	background-color: #416380FF;
	width: 800px;
	padding: 5px;
	margin: auto;

	font-family: oswald;
	font-size: 15px;


}

.links{
	color: white;
}